<div *ngIf="showWindow" class="editWindow">
    <div class="content">
        <label class="close" (click)="closeEditWindow()"> &#215; </label>
        <div class="form">
            <div class="client">
                <div class="title">
                    <label *ngIf="isNew">Добавление</label>
                    <label *ngIf="!isNew">Редактирование</label>
                </div>
                <div class="client-row">
                    <input type="text" tabindex="2" class="client-info"
                           placeholder="Фамилия" required
                           ngModel="{{client ? client.surname : ''}}">
                    <input type="text" tabindex="3" class="client-info"
                           placeholder="Имя" required
                           ngModel="{{client ? client.name : ''}}">
                    <input type="text" tabindex="4" class="client-info"
                           placeholder="Отчество" required
                           ngModel="{{client ? client.patronymic : ''}}">
                </div>
                <div class="client-row">
                    <input type="date" class="client-info" required
                        placeholder="Дата рождения"
                        ngModel="{{client ? client.birthDate : ''}}">
                    <select *ngIf="charms" required title="Характер" class="client-info">
                        <option *ngFor="let charm of charms" value="{{charm.code}}"
                                [selected]="charm.code == client.charm">
                            {{charm.name}}
                        </option>
                    </select>
                    <select *ngIf="genders" required title="Пол" class="client-info">
                        <option *ngFor="let gender of genders" value="{{gender.code}}"
                                [selected]="gender.code == client.gender">
                            {{gender.name}}
                        </option>
                    </select>
                </div>
                <div style="padding-top: 12px">
                    <table class="addresses">
                        <tr>
                            <th>
                                <label class="address-title">Фактический адресс</label>
                            </th>
                            <th>
                                <label class="address-title">Регистрационный адресс</label>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <input type="text" placeholder="Улица" class="address-info"
                                      ngModel="{{client ?(client.factAddress ? client.factAddress.street : '') : '' }}">
                                </div>
                                <div>
                                    <input type="text" placeholder="Дом" class="address-info"
                                      ngModel="{{client ?(client.factAddress ? client.factAddress.house : '') : '' }}">
                                </div>
                                <div>
                                    <input type="text" placeholder="Квартира" class="address-info"
                                      ngModel="{{client ?(client.factAddress ? client.factAddress.flat : '') : '' }}">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" placeholder="Улица" class="address-info"
                                      ngModel="{{client ?(client.regAddress ? client.regAddress.street : '') : '' }}">
                                </div>
                                <div>
                                    <input type="text" placeholder="Дом" class="address-info"
                                      ngModel="{{client ?(client.regAddress ? client.regAddress.house : '') : '' }}">
                                </div>
                                <div>
                                    <input type="text" placeholder="Квартира" class="address-info"
                                      ngModel="{{client ?(client.regAddress ? client.regAddress.flat : '') : '' }}">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="padding-top: 12px">
                    <label>
                        Телефоны
                    </label>
                    <label class="label-button">
                        | + |
                    </label>
                    <table class="phones">
                        <tr *ngFor="let phone of client.phones">
                            <td class="phone-info-td">
                                <input class="phone-info" type="tel" placeholder="Номер" required
                                 ngModel="{{phone.num}}">
                            </td>
                            <td class="phone-info-td">
                                <select *ngIf="phoneTypes" required title="Тип" class="phone-info">
                                    <option *ngFor="let type of phoneTypes" value="{{type.code}}"
                                            [selected]="type.code == phone.type">
                                        {{type.name}}
                                    </option>
                                </select>
                            </td>
                            <td class="label-button">
                                <label (click)="deletePhone(phone.id)">| - |</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>